a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.swp .app-header.navbar .navbar-brand{
    border-bottom: 0; 
}
.swp .register{
    margin: 100px 0;
}
.alert {
    margin: 5px 0;
}
.swp .app-footer {
    background: none;
}
.content-gap{
    margin: 30px 0;
}
.contain-full{
    float:left;
    width: 100%;
}
.custom-select{
    background: none;
}
/* menu dashboard list*/
.menu-list.dragging, .menu-list.dragging * {
    cursor: move !important;
}
.menu-list .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
.menu-drag-container{
    float:left;
    width: 100%;
}
.menu-drag-container .menu-drag{
    float:left;
    width: 100%;
}
ol.menu-drag li> ol{
    padding: 0;
}
ol.menu-drag li{
    cursor: pointer;
    list-style: none;
    border:1px solid #fff;
    position: relative;
    padding-left: 30px;
}
ol.menu-drag .alert{
    margin: 0;
}
ol.menu-drag li> ol li:first-child{
    margin-top: 10px;
}
ol.menu-drag li.placeholder {
    position: relative;
}
ol.menu-drag li.placeholder:before {
    position: absolute;
}
ol.menu-drag .active{
    border: 1px dashed #FFFFFF;
    padding: 0.3125rem;
}
ol.menu-drag li .close{
    float:right;
    padding: 5px;
}

.menu-edit{
    position: absolute;
    top: 0.5rem;
    left: 0.3rem;
    color: #fff;    
    padding: 5px;
    margin: 0;
}
.menu-edit:hover{
    color:#000;
}
/* file browser button */
.bootstrap-filestyle .btn .badge{
    background: #000000;
    right:auto;
    left: 0;
    color:#FFFFFF;
    top:0;
}
.outer-box{
    float:left;
    position: relative;
}
.outer-box-options{
    float: left;
    position: absolute;
    right: 0; 
    background: #fff;
}
.outer-box-options .close{
    outline: none;
    line-height: none;
}
/* dashboard logo uploaded image */
.site-info-logo img{
    float:left;
    width: 100%;
    max-width: 320px;
}
/* confirmation window */
.confirm-box{
    display: none;
}
.confirm-box-container{
    float:left;      
    min-height: 200px;
    padding: 20px;
    position: relative;    
    width: 320px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;   
    background: #fff;
}
.confirm-box-content{
    float:left;
    width: 100%;
}
.confirm-box-heading{    
    float:left;
    width: 100%;
    margin-bottom:20px;
    text-align: center;
}
.confirm-box-heading i{
    font-size: 80px;
}
.confirm-box-msg{
    float:left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.confirm-box-close{
    position: absolute;
    right: 5px;
    top: 2px;
}
.confirm-box-buttons{
    width: 100px;
    margin: 0 auto;
    width:120px;
}
.confirm-box-buttons button{
    float:right;
}
.confirm-box-buttons button:first-child{
    float:left;
}
/* alert window */
.swp-alert-window{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.swp-alert-container{
    float:left;
    width: 100%;
    padding: 15px;
    position: relative;
    font-weight: bold;
}
.swp-alert-window-close{
    position: absolute;
    right: 10px;
    top:35%;
    color:#000;
    bottom: 0;
}
.swp-alert-window-close:hover{
    color:#fff;
}
.swp-disable{
    pointer-events:none;
}
.waiting-busy{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 5000;
}
.waiting-busy-container{
    text-align: center;
    left: 50%;
    top: 40%;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;   
    background: #fff;
    padding: 10px 5px;
}
.waiting-busy i{
    color:#000;
    font-size: 50px;
}
/* selectize dropdown */
.selectize-input ,.selectize-input.dropdown-active,.selectize-input.focus{
    box-sizing: 0;
    box-shadow: none;
    border-radius: 0;
    -webkit-box-shadow:0;
}
.selectize-dropdown .active{
    background-color: #f5f5f5;
}
/* ckeditor */
#articleEditor{
    float:left;
    width: 100%;
    height: 300px;
    border: none;
}
/* create album */
.create-album{
    display: none;
}
.create-album-container{
    float:left;
    min-height: 200px;
    padding: 20px;
    position: relative;    
    width: 100%;
    min-width: 400px;    
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;   
    background: #fff;
}
.create-album-close{
    position: absolute;
    right: 5px;
    top: 2px;
}
/* album image upload*/
.album-upload{
    display: none;
}
.album-upload-container{
    float:left;
    min-height: 200px;
    padding: 20px;
    position: relative;    
    width: 320px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;   
    background: #fff;
}
.album-upload-close{
    position: absolute;
    right: 5px;
    top: 2px;
}
album-upload-status{
    float:left;
    width: 100%;
}
.uploaded-file-status{
    float:left;
    width: 100%;    
    max-height: 100px;
    overflow: auto;
    padding-right: 5px;
}
.uploaded-file-status-content{
    float:left;
    width: 100%;
    overflow-wrap:break-word;
}
.album-icon{
    position:absolute;
    top:7%;left:5%;
    color:#fefefe;
    font-size:0.975rem;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.album-icon:hover{
    color:#00bf8f;
}
.update-album{
    display: none;
}
.update-image-album{
    display: none;
}
/* media query */
@media (max-width: 990px) { 
    .app-header.navbar .navbar-brand{
        margin: 0 auto !important;
        width: 156px!important;
    }
    .app-header.navbar .navbar-brand img{
        width: 130px;
    }
    .menu-drag-container .menu-drag{        
        float:left;
        width: 100%;
        min-width: 500px;
    }
    .menu-drag-container{
        overflow: scroll;
    }
}